#resModal, #listModal {
	color: #800020;
	background-color: rgba(77, 0, 19, 0.75);
	width: 100%;
	height: 100%;
}

.modal-content {
	background-color: #FCECCB;
}

h3 {
	font-family: 'Gruppo', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;	
	color: #800020;
}

#sh_list_cont {
	text-align: center;
}

#sh_list {
	text-align: left;
	margin-left: 30%;
}

.modal-body {
	font-family: 'Gruppo', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.result-container {
	height: 150px;
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
}

.result-contents {
	position: absolute;
	height: 100%;
	overflow: hidden;
}

/*hardcoded*/
#result-img-container0 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}

#result-img-container1 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}

#result-img-container2 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}

#result-img-container3 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}
#result-img-container4 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}
#result-img-container5 {
	width: 150px;
	height: 149px;
	border-right: 1px solid black;
}

#result-img {
	width: 100%;
	height: 98%;
	object-fit: contain;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #FFF;
	overflow: hidden;
}

#result-descrip-container {
	display: block;
	right: 0;
	width: calc(100% - 150px);
	position: absolute;
	background-color: #FFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#result-descrip {
	text-align: center;
	position: relative;
	font-size: 30px;
	top: 30px;
	font-weight: bold;
}

.toggles {
	display: none;
	visibility: hidden;
}

#results_list label {
	padding: 0.5em;
	text-align: center;
	margin-top: 30px;/*
	margin-left: 60px;*/
	font-size: 16px;
	color: #4D0013;
	right: 20px;
}

#results_list label:hover {
	color: #000;
	cursor: pointer;
}

#results_list label::before {
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
	content: "+";
	font-size: 16px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

#results_list label span {
	font-size: 100%;
	float: right;
}

/*hardcoded*/
.expansions {
	height: 0px;
	overflow-y: scroll;
	transition: height 0.5s;
	padding-left: 10px;
}

.expansions p {
	font-size: 16px;
	color: #4D0013;
	line-height: 1.5em;
}

.expansions p a:link {
	font-size: 12px;
	color: #4D0013;
}

.expansions p a:hover {
	color: ##600017;
}

.expansions p a::visited {
	color: grey;
	pointer-events: none;
	cursor: default;
}

section {
	position: relative;
}

/*hardcoded*/
#toggle0:checked ~ #expand0 {
	height: 90px;
}

#toggle1:checked ~ #expand1 {
	height: 90px;
}

#toggle2:checked ~ #expand2 {
	height: 90px;
}

#toggle3:checked ~ #expand3 {
	height: 90px;
}

#toggle4:checked ~ #expand4 {
	height: 90px;
}

#toggle5:checked ~ #expand5 {
	height: 90px;
}

#toggle0:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}

#toggle1:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}

#toggle2:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}

#toggle3:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}

#toggle4:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}

#toggle5:checked ~ label::before {
	content: "-";
	font-family: 'Gruppo', sans-serif;
	font-weight: bold;
}
